body
{
  margin: 0;
  padding: 0;
  font-family:Montserrat, sans-serif;
}


@media screen and (max-width: 375px) {
  .topnav{
    height: 75px;
  }

  .icon{
    padding-right: .8em;
    font-size: 2em;
  }

  .logo--image{
    width: 125%;
  }

  .background{
    height: 75vh;
}

.filter-option{
    /* height: 20vh; */
    /* width: 200px; */
    margin: 0px 10px;
}

.filter{
    margin-top: 4em;
}

.image-white{
    margin-top: 10px;
}

.title_label{
    font-size: 1.5em;
    margin: 1em;
}


.cards-container{
  padding: 0px 5px;
}

.cards{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0em .8em;
}

.card{
  margin-bottom: 1.5em;
}

.card img{
  width: 40%;
  margin-top:10px;
}

.card p{
  margin: 10px;
  font-size: .8em;
}

.card-title{
  margin-top: 0px;
  font-size: .9em;
}

.line-btn{
  width: 40%;
}

.about-btn{
  width: 50%;
}



}


@media screen and (max-width:1080px) and (orientation: landscape){
  .cards-container{
      padding: 0px 5px;
  }

  .cards{
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0px 125px;
  }

  .card{
      margin-bottom: 1.5em;
  }

  .card img{
      width: 45%;
      margin-top:10px;
  }

  .card p{
      margin: 10px;
      font-size: 1em;
  }

  .card-title{
      margin-top: 0px;
      font-size: 1.3em;
  }

  .topnav{
    height: 55px;
  }

  .icon{
    font-size: 1.8em;
  }
    
  .logo--image{
    width: 70%;
  }

  .background{
    height: 90vh;
  }

.title_label{
    font-size: 1.5em;
    margin-bottom: 15px;
}

.filter-option{
    height: 35vh;
}

.about-btn{
  width: 40%;
}


}


@media screen and (min-width:375px) and (max-width: 723px){
  .topnav{
    height: 75px;
  }

  .logo--image{
    width: 100%;
  }

  .cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0em .4em;
 }

.card{
    margin-bottom: 1.5em;
  }

.card img{
    width: 40%;
    margin-top:10px;
  }

.card p{
    margin: 10px;
    font-size: .9em;
  }

.card-title{
    margin-top: 0px;
    font-size: 1em;
  }


}

@media screen and (max-width: 723px){
  .footer p{
    font-weight: 500;
    font-size: .5em;
  }

  .slogan{
    font-size: 1em;
    margin: 15px 5px;
}

.btn-container{
    display: flex;
    flex-direction: column;
}

.btn{
    margin:15px
}

.line{
    width: 50%;
    margin-top: 0px;
}
}

@media screen and (min-width: 723px) and (max-width: 1080px){
  .topnav{
    height: 80px;
  }

  .logo--image{
    width:100%
  }

  .cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0em .8em;
}

.card{
    margin-bottom: 1.5em;
}

.card img{
    width: 30%;
    margin-top:10px;
}

.card-title{
    margin-top: 0px;
    font-size: 1.2em;
}

.card p{
    margin: 10px;
    font-size: 1em;
}

.about-btn{
  width: 40%;
}

.about{
  height: 40vh;
}
}
