
.about{
    background-image: url('https://cdn-atlas-cloud.s3.amazonaws.com/images/indexpage/city-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    text-align: center;
}

.about-btn{
    margin-top: 2em;
    width: 20%;
}

.youtube-iframe{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.youtube-iframe iframe{
    width: 70%;
    height: 400px;
}
