
.cards-container{
    /* width: 100%; */
    padding: 0px 50px;
    margin: auto;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 30px;
    grid-template-areas: "card-1 card-2 card-3";
    padding: 0px 2em;
}

.card{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    box-shadow:rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.card img{
    width:80%;
    margin: 10px; 
}

.card-title{
    color:#0f4aa2;
    font-weight: bold;
}

.card p{
    margin: 0px 20px; 
    font-weight: 500;
}

.card-footer{
    padding: 0em 1.25rem;
}

.line-btn{
    color:rgba(0, 0, 0, 0.125);
    width: 20%;
}

.card-btn{
    color: #0f4aa2;
    background-color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1em;
    border: solid 2px #0f4aa2;
    border-radius: 10px;
}

.card-1{
    grid-area: card-1;
}

.card-2{
    grid-area: card-2;
}

.card-3{
    grid-area: card-3;
}

