
.slogan{
    color: #0f4aa2;
    opacity: 1;
    margin: 30px 0px;
    font-weight: bold;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 300px;
    height: 50px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    margin: 0px 15px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.btn-credit{
    background: #2680EB 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #ffffff;
}

.btn-sell{
    background-color: #ffffff;
    color:#2680EB;
    border:2px solid #2680EB;
}

.line{
    color: #0f4aa2;
    width: 10%;
    border: solid 3px;
    /* margin-top: 15px; */
    border-radius: 5px;
}
