
.topnav {
  overflow: hidden;
  background-color: #ffff;
  position: fixed;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". logo icon";
  box-shadow: 7px 4px 16px 2px #666565;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.logo{
  grid-area: logo;
  display: flex;
  justify-content: center;
}

.icon{
  grid-area: icon;
  display: flex;
  padding-right: 1.2em; 
  justify-content: flex-end;
  align-items: center;
  font-size: 2.5em;
  text-decoration: none;
}

.icon a{
  /* width: 50%; */
  display: flex;
  text-decoration: none;
  justify-content: center;
}

.logo--image{
  width: 45%;
  max-height: 70px;
}



