
.background{
    background-image: url('https://cdn-atlas-cloud.s3.amazonaws.com/images/indexpage/background-image.jpg');
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.h-100{
    height: 100%;
}

.text-center{
    text-align: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_label{
    color: #ffffff;
    letter-spacing: 0;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: stretch
}

.filter-option{
    background: #156fb999 0% 0% no-repeat padding-box;
    /* height: 16vh; */
    width: 150px;
    max-height: 120px;
    margin: 0px 5px;
    letter-spacing: 0em;
    font-weight: bold;
}

.image-white {
    filter: brightness(2.5);
    width: 50%;
}
